* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

.btncontainer button {
  background: #555555;
  border: 1px solid #555555;
  color: white;
  padding: 20px;
  transition-duration: 0.4s;
}

.btncontainer button:hover {
  background-color: #e7e7e7;
  color: black;
  cursor: pointer;
}

#clickcomboh3 {
  font-size: 14px;
}

#xmultiplier {
  font-size: 10px;
}
